body {
  margin: 0;
  background-color: #F5F9FF !important;
}

@font-face {
  font-family: 'Robotoligth';
  src: url(./assets/font/Roboto-Light.ttf);
}
@font-face {
  font-family: 'RobotoRegular';
  src: url(./assets/font/Roboto-Regular.ttf);
}
@font-face {
  font-family:'RobotoMedium';
  src: url(./assets/font/Roboto-Medium.ttf);
}
@font-face {
  font-family:'RobotoBold';
  src: url(./assets/font/Roboto-Bold.ttf);
}
